body {
  background: whitesmoke;
}

.home {
  padding: 10px;
  border-radius: 5px;
  background: white;
  font-size: 16px;
}

.header-3 {
  background: rgb(69, 124, 226);
  color: white;
}

#new-submit {
  margin-top: 10px;
}