body {
  background: whitesmoke;
}

.home {
  padding: 10px;
  border-radius: 5px;
  background: white;
  font-size: 16px;
}

.header-3 {
  background: rgb(69, 124, 226);
  color: white;
}

#new-submit {
  margin-top: 10px;
}

.alert-user {
  color: rgb(69, 124, 226);
}

.alert-date, #task-info-date {
  color: grey;
}

#task-info-container {
  margin-top: 10px;
}

#task-info {
  background: white;
  border-radius: 5px;
}

#task-description {
  font-size: 1.3em;
}

#task-info-user {
  font-size: 0.9em;
  font-style: italic;
}

#new-task-button, #login-button, #join-button {
  margin-top: 10px;
}